[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pygdal = "==2.2.3.*"
shapely = {extras = ["vectorized"],version = "==1.6.*"}
pandas = "==0.25.*"
matplotlib = "==3.1.*"
cartopy = "==0.17.*"
geopandas = "==0.6.*"
eust = "==0.4.*"

[requires]
python_version = "3.6"
